<%= stylesheet_link_tag 'open/anotation-tags' %>

<%= render 'shared/header-anotations' %>

<section class="title-section">
  <div class="container-title">
    <h2>Tags anotações</h2>
    <p>Todas as tags que já usei nas minhas anotações</p>
  </div>
</section>

<section class="all-tags">
  <div class="container-tags">
    <% @tags.each do |tag| %>
      <%= render  "shared/tag", tag: tag.content %>
    <% end %>
  </div>
</section>

<section class="result-posts-tags">
  <div class="container-search">
    <%= render 'shared/anotations', annotations: @annotations %>
  </div>
</section>

<%= render 'shared/footer' %>