<%= stylesheet_link_tag 'index' %>

<section class="apresentation">
  <div class="container">
    <h2>Giovanny dos Santos Cordeiro</h2>
    <span>Desenvolvedor</span>
    <div class="description">
      <p>
        As a People Developer, I am dedicated to fostering 
        the growth and development of individuals within organizations. 
        With a deep understanding of human behavior, organizational dynamics, 
        and learning methodologies, I excel in creating environments where 
        individuals thrive and reach their full potential.
      </p>
    </div>
    <div class="container-buttons">
      <%= link_to my_anotations_path, class: "buttons" do %>
        <%= image_tag 'svg/notes.svg' %>
        Anotações
      <% end %>
      <a href="https://github.com/giovannycordeiro" target="_blank" class="buttons">
        <%= image_tag 'svg/github.svg' %>
        Github
      </a>
      <a href="https://www.linkedin.com/in/giovannycordeiro/" target="_blank" class="buttons">
        <%= image_tag 'svg/linkedin.svg' %>
        Linkedin
      </a>
    </div>
  </div>
</section>

<section class="last-anotations">
  <div class="container">
    <h2>Ultimas anotações</h2>
    <%= render 'shared/anotation' %>
    <%= render 'shared/anotation' %>
    <%= render 'shared/anotation' %>
  </div>
</section>

<section class="links">
  <div class="container-links">
    <%= render  "shared/icon-link", route: 'my_anotations', text: 'Anotações', icon: 'notes' %>
    <%= render  "shared/icon-external", text: 'Github', icon: 'github', url: 'https://github.com/giovannycordeiro'%>
    <%= render  "shared/icon-external", text: 'Linkedin', icon: 'linkedin', url: 'https://www.linkedin.com/in/giovannycordeiro/' %>
  </div>
</section>

<%= render  "shared/footer" %>