<%= stylesheet_link_tag 'index' %>

<section class="apresentation">
  <div class="container">
    <h2>Giovanny dos Santos Cordeiro</h2>
    <span>Desenvolvedor</span>
    <div class="description">
      <p>
        As a People Developer, I am dedicated to fostering 
        the growth and development of individuals within organizations. 
        With a deep understanding of human behavior, organizational dynamics, 
        and learning methodologies, I excel in creating environments where 
        individuals thrive and reach their full potential.
      </p>
    </div>
    <div class="container-buttons">
      <div class="buttons">
        <%= image_tag 'svg/notes.svg' %>
        Anotações
      </div>
      <div class="buttons">
        <%= image_tag 'svg/github.svg' %>
        Github
      </div>
      <div class="buttons">
        <%= image_tag 'svg/linkedin.svg' %>
        Linkedin
      </div>
    </div>
  </div>
</section>

<section class="last-anotations">
  <div class="container">
    <h2>Ultimas anotações</h2>
    <%= render 'shared/anotation' %>
    <%= render 'shared/anotation' %>
    <%= render 'shared/anotation' %>
  </div>
  
</section>