<%= stylesheet_link_tag 'open/specific-annotation' %>

<header class="header-spec-annot">
  <div class="header-spec-title">
    <h2><%= @annotation.title %></h2>
    <%= link_to my_annotations_path do %>
      <%= image_tag 'svg/back-arrow' %>
    <% end  %>
  </div>
  <p>
    <%= @annotation.created_at.strftime('%d/%m/%Y') %>
  </p>
  <div class="container-tags">
    <!--procurando id tac-->
    <% registry_tags = TagAnnotation.select('tags.id', 'tags.content').joins(:tag).where(annotation_id: @annotation.id) %>
      <!--percorrendo todas as tags-->
      <% registry_tags.each do |tag| %>
      <!--vinculando com o tabela que da o nome-->
      <%= render  "shared/tag", tag: "#{tag.content}"%>
    <% end %>
  </div>
</header>

<section class="content-spec-annot">
  <div class="container-spec-annot">
    <%= raw @content %>
  </div>
</section>

<section class="share-spec-annot" data-controller="button">
  <button class="share-button-spec-annot" data-action="button#copy"">
    <%= image_tag 'svg/share' %>
  </button>
</section>

<%= render "shared/footer" %>