<%= stylesheet_link_tag 'open/specific-annotation' %>

<header class="header-spec-annot">
  <div class="header-spec-title">
    <h2><%= @annotation.title %></h2>
    <%= link_to my_annotations_path do %>
      <%= image_tag 'svg/backarrow.svg' %>
    <% end  %>
  </div>
  <p>
    <%= @annotation.created_at.strftime('%d/%m/%Y') %>
  </p>
  <div class="container-tags">
    <%= render  "shared/render_tags", annotation: @annotation %>
  </div>
</header>

<section class="content-spec-annot">
  <div class="container-spec-annot">
    <%= raw @content %>
  </div>
</section>

<section class="share-spec-annot" data-controller="button">
  <button class="share-button-spec-annot" data-action="button#copy"">
    <%= image_tag 'svg/share.svg' %>
  </button>
</section>

<%= render "shared/footer" %>