<%= stylesheet_link_tag 'shared/anotations' %>


<% @annotations.each do |annotation| %>  
  <div class="anotation">
    <h2>
      <%= link_to annotation.title, "/my_annotations/#{annotation.title}"%>
    </h2>
    <p>
      <%= annotation.created_at.strftime('%d/%m/%Y') %>
    </p>
    <div class="container-tags">
      <%= render  "shared/render_tags", annotation: annotation %>
    </div>
    <span>
      <%= annotation.description %>
    </span>
  </div>
<% end %>
